body {
	background-color: lightblue;
}

h1 {
	color: red;
}

div {
	background-color: pink;
	max-width:600px;
	margin: 0 auto;
	height:800px;
}

.button {
	border:none;
	background-color: purple;
	color: white;
}